<h2>Hello <%= @user.name %>,</h2>
<<<<<<< HEAD

=======
<%byebug%>
>>>>>>> 02428312fb27c393dd179d2f406577a032c15192
<p>
  Just a reminder: your show for <strong><%= @show.movie.title %></strong>
  starts at <%= @show.show_time.strftime("%I:%M %p") %> (in 1 hour)
</p>

<p>Enjoy!</p>
<<<<<<< HEAD
=======




>>>>>>> 02428312fb27c393dd179d2f406577a032c15192
