
<h1 style="font-size: ;">Hi <%= @user.name %></h1>

<h2>Welcome to the BookMyShow family! 🎉</h2>

<h2>
  <pre>We're thrilled to have you join our community. You're now a part of India's leading entertainment destination, and we can't wait to help you experience the magic of movies, live events, and more. 

  Your account is all set and ready to go.</pre>
</h2>