<% @movies.each do |movie| %>
  <div>
    <p>
      <%= link_to movie.title, movie_path(movie) %>
    </p>
    <p>Duration: <%= movie.duration %> minutes</p>
    <% if movie.banner_image.attached? %>
      <%= image_tag movie.banner_image, width: 200 %>
    <% end %>
  </div>
<% end %>
